﻿
<template>
    <div class="container">
        <h3 class="white-text">Setting as master if connected to spotify</h3>
        <h5></h5>
    </div>

</template>

<script>
    
    export default {

        name: 'SbMaster',
        mounted() {
            //this.$store.dispatch("SetMaster");
            var _this = this;
            this.$store.commit('SetMasterPlayer', true);
            setTimeout(function () {
                _this.$router.push('/');
            }, 1000);
        }
        
    }

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>