﻿
<template>
  <div class="container">
    <h3 class="white-text">Searching for</h3>
    <h5></h5>
  </div>
</template>

<script>
export default {
  name: "Search",
  mounted() {}
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>