<template>
  <div  v-if="hasTrackData" v-bind:class="{'background':true, 'playing':isPlaying}">
    <div class="background-inner" v-bind:style="backgroundStyle"></div>
  </div>
</template>

<script>
export default {
  name: "Background",
  created() {},
  data() {
    return{
    totalPages: 5,
    currentPage: 3
    }
  },
  computed: {
    currentTrack() {
      return this.$store.getters.currentTrack;
    },
    hasTrackData() {
      return this.$store.getters.hasCurrentTrack;
    },
    backgroundStyle() {
      return {
        backgroundImage: "url(" + this.currentTrack.album.images[2].url + ")"
      };
    },
    isPlaying() {
      return !this.$store.getters.isPaused;
    },
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.background {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .background-inner {
    width: 150%;
    height: 150%;
    margin-top:-25%;
    margin-left:-25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;

    transition: transform 10s ease-in-out;
    

    /* Add the blur effect */
    filter: blur(15px);
    -webkit-filter: blur(15px);
  }

  &.playing .background-inner{
    animation: bganim 360s linear 1000ms infinite;
  }
}

@keyframes bganim {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.25) rotate(45deg);
  }
  50% {
    transform: scale(1.5) rotate(90deg);
  }
  75% {
    transform: scale(1.25) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
</style>