<template>
    
      <div v-if="hasTrackData" class="nowPlaying trans-black">
          <div v-if="hasTrackData">
              <h2>Now Playing</h2>
              <div class="art">
                <img :src="currentTrack.album.images[0].url">
              </div>
              <div class="details ">
                  <div class="white-text">{{currentTrack.name}} </div>
                    <div class="artists">
                        <div v-for="item in currentTrack.artists" v-bind:key="item.id" class="grey-text  artistLink"  >
                        {{item.name}}
                        </div>
                    </div>
                </div>
            </div>
      </div>
</template>

<script>

export default {
  name: 'PlayerBar',
  mounted: function(){

  },
  computed:{
      localState() { return  this.$store.getters.localPlayActive},
      currentTrack() {return this.$store.getters.currentTrack},
      hasTrackData(){return this.$store.getters.hasCurrentTrack},
      isMasterPlayer(){return this.$store.getters.isMasterPlayer},
      currentProgess(){return this.$store.getters.currentProgress},
      currentDuration(){return this.$store.getters.currentDuration},
      currentPercentage(){return this.$store.getters.currentPercentage}
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.nowPlaying{
    width:100%;
    padding:15px;
    bottom:0;
    min-height:100px;
    overflow:auto;

    h2{
        margin-top:0;
    }
}

.art{
    float:left;
    width:auto;
    img{
        outline:1px solid rgba(255,255,255,0.5);
    }
}

.details{
    float:left;
    font-size: 35px;
    margin-left:30px;
}

.artists{
    //display:inline-block;
    line-height: 30px;
}

.artistLink{
    display: inline;
    font-size:25px;
}

.artists .artistLink:after {
    content: ", ";

}

.artists .artistLink:last-child:after {
    content: "";
}

.trans-black {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
</style>