<template>
  <div class="playerBar trans-black">
    <div v-if="hasTrackData">
      <div class="progressBar">
        <div
          class="inner"
          v-bind:class="{'teal':!isMasterPlayer, 'red':isMasterPlayer}"
          :style="{width: currentPercentage}"
        ></div>
      </div>
      <div class="art">
        <img :src="currentTrack.album.images[1].url" />
      </div>
      <div class="details">
        <div class="white-text">{{currentTrack.name}}</div>
        <div class="time grey-text">{{currentProgess}} - {{currentDuration}}</div>
        <div class="artists">
          <div
            v-for="item in currentTrack.artists"
            v-bind:key="item.id"
            class="grey-text artistLink"
          >{{item.name}}</div>
        </div>
      </div>
    </div>

    <div class="controls" v-if="hasTrackData">
      <a v-if="!isPlaying" class="btn-floating green">
        <i class="material-icons">play_arrow</i>
      </a>
      <a v-if="isPlaying" class="btn-floating teal waves-effect">
        <i class="material-icons">pause</i>
      </a>
      <a class="btn-floating teal waves-effect">
        <i class="material-icons">skip_next</i>
      </a>

      <a v-if="!isMasterPlayer" class="btn-floating btn-small green waves-effect">
        <i class="material-icons">thumb_up</i>
      </a>
      <a v-if="!isMasterPlayer" class="btn-floating btn-small red waves-effect">
        <i class="material-icons">thumb_down</i>
      </a>
    </div>
    <div class="localPlayer">
      <div v-if="localState">
        <a
          v-if="isMasterPlayer"
          v-on:click="toggleLocalPlayer"
          class="btn-floating btn-large red accent-4 pulse"
        >
          <i class="material-icons">headset</i>
        </a>
        <a
          v-if="!isMasterPlayer"
          v-on:click="toggleLocalPlayer"
          class="btn-floating btn-large orange accent-4 pulse waves-effect"
        >
          <i class="material-icons">headset</i>
        </a>
      </div>
      <div v-else>
        <a v-on:click="toggleLocalPlayer" class="btn-floating btn-large teal darken-3 waves-effect">
          <i class="material-icons">headset</i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
//import {sendMessage} from '../systems/Messages';
import { setupLocalPlayer, disablePlayer } from "../systems/Spotify";
export default {
  name: "PlayerBar",
  mounted: function() {},
  data: function() {
    return {
      msg: "",
      messageClass: "msgBar"
    };
  },
  computed: {
    localState() {
      return this.$store.getters.localPlayActive;
    },
    currentTrack() {
      return this.$store.getters.currentTrack;
    },
    hasTrackData() {
      return this.$store.getters.hasCurrentTrack;
    },
    isMasterPlayer() {
      return this.$store.getters.isMasterPlayer;
    },
    currentProgess() {
      return this.$store.getters.currentProgress;
    },
    currentDuration() {
      return this.$store.getters.currentDuration;
    },
    currentPercentage() {
      return this.$store.getters.currentPercentage;
    },
    isPlaying() {
      return !this.$store.getters.isPaused;
    }
  },
  methods: {
    toggleLocalPlayer: function() {
      var newState = !this.localState;
      if (newState) {
        setupLocalPlayer();
      } else {
        disablePlayer();
      }

      //this.$root.$emit('message_show', "click")
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.playerBar {
  width: 100%;
  padding: 15px;
  position: fixed;
  bottom: 0;
  min-height: 100px;

  transition: background-color 0.4s;
  //background:#000;

  .progressBar {
    position: absolute;
    height: 3px;
    background: #000;
    width: 100%;
    top: -3px;
    left: 0px;
    transition: background-color 0.4s;

    .inner {
      transition: 0.5s width linear;
      position: absolute;
      height: 3px;
    }
  }

  .controls {
    position: absolute;
    right: 200px;
    margin-top: 10px;

    a {
      margin-left: 15px;
    }
  }

  .time {
    font-size: 14px;
    //display: inline-block;
    margin-right: 15px;
    line-height: 10px;
  }
}

.localPlayer {
  position: absolute;
  right: 20px;
  //top:-20px;
}

.messageBar {
  min-height: 40px;
  width: 100%;
  color: #000;
  position: fixed;
  bottom: 100px;

  .msgBar {
    background: transparent;
    transition: opacity 0.3s ease;
    opacity: 0;
    text-align: center;

    &.active {
      font-size: 14px;
      padding: 10px;
      background-color: #ffff00;
      opacity: 1;
    }
  }
}

.art {
  float: left;
  width: 100px;
  img {
    outline: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.details {
  float: left;
  font-size: 20px;
}

.artists {
  //display:inline-block;
  line-height: 20px;
}

.artistLink {
  display: inline;
  font-size: 14px;
}

.artists .artistLink:after {
  content: ", ";
}

.artists .artistLink:last-child:after {
  content: "";
}

.trans-black {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.trans-red {
  background-color: rgba(75, 4, 4, 0.7) !important;
}
</style>